
.colorenav{
    background: #33404F;
}
a{
    text-decoration: none;
}
.nav-item>a{
    color: white;
    font-weight: bold;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon{
    filter: invert(43%) sepia(3%) saturate(208%) hue-rotate(169deg) brightness(94%) contrast(85%);
}
.prova{
    min-height: 40px;
    border: 1px solid black;
}
.prova-grande{
    border: 1px solid black;
}
.sez-verde{
    background-color: #1ABC9C;
    color: white;
}
textarea.form-control {
    height: 150px;
    }
.logo-img{
    max-width: 300px;
}
.info-sez{
    background: #42546A;
    color: white;
}
/* form sovrascrive regola stile bootstrap attenzione*/
.form-control::placeholder{
    color: black;
}
/* form */
.form-control:focus{
    box-shadow: none;
}
.logotext{
    font-size: calc(1.375rem + 2.5vw);
    color: white;
    font-weight: bold;
}
.logotextheader{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.star{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea{
    height: 0px;
    border: 3px solid white;
    display: flex;
    border-radius: 10%;
}
.lineanera{
    border: 3px solid black;
}
.stairsize{
    font-size: 1.5rem;
}
.lineainfo{
    width: 100px;
}
.listacard:last-child{
    margin-bottom: 20px;
}
h3{
    font-weight: bold;
}
.cerchio{
    width: 55px;
    margin-right: 10px;
}
.cerchio i{
    color: white;
}
footer{
    background: #2C3E50;
    color: white;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate{
    transition: .8s ease all;
    transform: rotate(-360deg);
    opacity: 2;
}
.rotate:hover {
  transform: scale(1.5);
  transform: rotate(0deg);
   position: relative; 
  z-index: 1;
}
.rotate:active{
    transform: scale(1.3);
    z-index: 1;
    position: relative;
}


/* .fa-solid:after{
    content: "";
    width: 20px;
    height: 1px;
    border: 3px solid yellow;
    border-radius: 10%;
    display: flex;
    position: relative;

}
.fa-solid:before{
    content: "";
    width: 20px;
    height: 1px;
    border: 3px solid yellow;
    border-radius: 10%;
    display: flex;
    position: relative;

} */