
.colorenav{
    background: #33404F;
 
}
.nav-item>a{
    color: white;
    font-weight: bold;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon{
    filter: invert(43%) sepia(3%) saturate(208%) hue-rotate(169deg) brightness(94%) contrast(85%);
}
.prova{
    min-height: 40px;
    border: 1px solid black;
}
.prova-grande{
    border: 1px solid black;
}
.sez-verde{
    background-color: green;
    color: white;
}
textarea.form-control {
    height: 150px;
    }
.logo-img{
    max-width: 300px;
}
.info-sez{
    background: #42546A;
    min-height: 500px;
}
/* form sovrascrive regola stile bootstrap attenzione*/
.form-control::placeholder{
    color: black;
}
/* form */
.form-control:focus{
    box-shadow: none;
}
.logotext{
    font-size: calc(1.375rem + 2.5vw);
    color: white;
    font-weight: bold;
}
.logotextheader{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.star{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea{
    height: 0px;
    border: 3px solid white;
    display: flex;
    border-radius: 10%;
}
.stairsize{
    font-size: 3rem;
}